.footer {   
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $primary-black-color;
}

.content {
    display: flex;
    align-items: baseline;
}

.address__container {
    margin-right: 70px;
}